.product-detail-page {
    padding: 20px;
    font-family: Arial, sans-serif; /* Sets the font for consistency */
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Adds a border to the search input */
    border-radius: 4px; /* Rounded corners for the input */
  }
  
  .product-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Adds space between sections */
  }
  
  .product-details h2 {
    margin-top: 0;
    color: #333; /* Dark grey color for the text */
  }
  
  .product-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adds space above the product info section */
  }
  
  .info-box, .ingredients-box {
    width: 48%;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #EEE5D2;
    opacity:80%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: left;
  }

  .ingredients-box{
    background-color: #f4f4f4;
  }
  
  .ingredients-box ul {
    list-style-type: none;
    padding: 0;
  }
  
  .ingredients-box li {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 4px;
  }
